body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.aaveContainer {
  color: white;
  background-color: #353131;
  border-radius: 20px;
  padding: 20px;
}
.aaveHeaderContainer {
  font-style: italic;
}

.aaveDepositCotainer {
  font-size: 20px;
  padding: 5px;
}
